/*==============================
=            header            =
==============================*/

#masthead {
	padding: 20px 0;
	position: fixed;
	background: transparent;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 99;
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;

	@media (#{$bp-larger-than-tablet}) {
		padding: 40px 0;
	}

	&.change {
		background-color: white;
	}

	.site-branding {
		width: 50%;

		@media (#{$bp-larger-than-desktop}) {
			width: 22%;
		}

		img {
			width: 100%;
			max-width: 210px;
		}
	}
	.main-navigation {
	}

	@media (#{$bp-smaller-than-desktop}) {
		// background-color: rgba($light-grey, 0.95);

		.site-branding {
			// width: 37%;
		}
	}
}

/*=================================
=            elemenbts            =
=================================*/

body {
	background: $light-grey;
}

.page {
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

@media (#{$bp-smaller-than-desktop}) {
	
	br {
		//display: none;
	}
}

/*================================
=            sections            =
================================*/

section {
	position: relative;
	min-height: 100px;
	// max-width: 100vw;
	background-color: white;
	padding: 130px 0;
	box-sizing: border-box;

	&:after {
		background: transparent;
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border-bottom: 70px solid;
		border-right: 100vw solid transparent;
		content: "";
		z-index: 1;

		@media (#{$bp-larger-than-desktop}) {
			border-bottom: 130px solid;
		}
	}

	&:before {
		background: transparent;
		position: absolute;
		top: 0;
		width: 0;
		height: 0;
		border-top: 70px solid;
		border-right: 100vw solid transparent;
		content: "";
		z-index: 1;

		@media (#{$bp-larger-than-desktop}) {
			border-top: 130px solid;
		}
	}

	.row {

		h1, h2 {
			line-height: 1;
			margin: 0;
			margin-bottom: 30px;
			text-transform: uppercase;
		}

		h1 {
			font-size: 6rem;

			@media (#{$bp-smaller-than-tablet}) {
				font-size: 2.8rem;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	p {
		font-size: 2rem;

		@media (#{$bp-smaller-than-desktop}) {
			font-size: 1.8rem;
		}
	}
}

.parallax-window {
    min-height: 300px;
    background: transparent;
}

#banner {
	position: relative;
	background-color: $light-grey;

	@media (#{$bp-larger-than-desktop}) {
		background-size: 100% auto;
		background-position: 150px 100%;
		background-repeat: no-repeat;
		height: 100vh;
		min-height: 800px;
	}

	&:before {
		background-color: rgba(238, 238, 238, 0.8);
		position: absolute;
		border: 0;
		height: 100%;
		width: 100%;

		@media (#{$bp-larger-than-desktop}) {
			display: none;
		}
	}

	&:after {
		border-bottom-color: white;
	}

	.mobile-banner {
		@media (#{$bp-larger-than-desktop}) {
			display: none;
		}
	}

	article {
		margin-left: 0;
		color: white;
		z-index: 6;
		position: relative;
		float: left;
		width: 100%;

		@media (#{$bp-larger-than-desktop}) {
			width: 44%;
		}

		h1 {
			font-size: 2.8rem;
			color: black;

			@media (#{$bp-larger-than-desktop}) {
				font-size: 6rem;
			}
		}

		p {
			font-size: 1.8rem;
			margin-bottom: 1.5rem;
			line-height: 1.3;

			&:last-of-type {
				margin-bottom: 0;
			}

			@media (#{$bp-larger-than-desktop}) {
				font-size: 2rem;
			}
		}

		h3, p {	
			color: black;
		}

		p {

		}

		.watch {
			background-color: $secondary-color;
			color: black;
			font-family: "Dugout Sans Bold";
			text-decoration: none;
			padding: 1rem 2rem;
			display: inline-block;
			margin-top: 3rem;
			font-size: 2rem;
			text-transform: uppercase;
		}
	}

	.wp-video {
		margin: 0 auto;
	}
}

#about {
	// padding: 75px 0 0 0;
	background-color: $secondary-color;
	color: black;
	padding-top: 26rem;

	&:after {
		display: none;
	}

	&:before {
		border-top-color: white;
	}

	h1, h2 {
		margin-bottom: 25px;
	}

	.logos {
		margin-top: 50px;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		text-align: center;

		ul {
			list-style: none;
			margin: 0;
			width: 100%;
			padding: 20px 0;

			li {
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				width: 9%;
				margin: 0;
				padding: 5px;
				box-sizing: border-box;

				@media (#{$bp-smaller-than-tablet}) {
					width: 19.2309%;
					margin-bottom: 10px;
				}

				img {
					display: block;
					width: auto;
					max-height: 75px;
					margin: 0 auto;
				}
			}
		}
	}
}


#b2bvideo {
	// padding-top: 25px;
	// padding-bottom: 75px;
	padding: 0;

	&:after {
		display: none;
	}

	&:before {
		display: none;
	}

	.wp-video {
		min-width: 100%;
		width: 100%;
	}

	.row {
		width: 100%;
		border: 3rem solid white;
		box-sizing: border-box;

		@media (#{$bp-larger-than-desktop}) {
			border: 6rem solid white;
		}
	}

	.mejs-controls {
		display: none;
	}

	.video-container {
		padding-top: 0;
	}

	a {
		background-color: $secondary-color;
		color: black;
		font-family: "Dugout Sans Bold";
		font-size: 2rem;
		text-align: center;
		padding: 10px;
		display: block;
		text-transform: uppercase;;
		text-decoration: none;
		margin-top: 50px;
	}
}

#work {
	// padding: 75px 0;
	background-color: transparent;
	color: white;
	overflow: hidden;
	padding: 13rem 0;
	background-image: url(assets/img/reach.jpg);
	background-size: cover;
	background-position: center;

	@media (#{$bp-larger-than-desktop}) {
		padding: 26rem 0;
	}

	&:after {
		border-bottom-color: black;
	}

	&:before {
		border-top-color: $secondary-color;
	}

	.ovrly {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.5);
	}

	video{
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 50%;
		left: 50%;
		width: auto;
		height: auto;
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
		-moz-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
		transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
		z-index: 0;
		display: none;

		@media (#{$bp-larger-than-desktop}) {
			display: block;
		}
	}

	.content {
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 4rem;
		display: inline-block;
		vertical-align: middle;

		@media (#{$bp-larger-than-desktop}) {
			width: 60%;
			margin-bottom: 0;
			padding-right: 4rem;
		}
	}

	.stats {
		text-align: center;
		background-color: $secondary-color;
		border-radius: 4px;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: middle;
		width: 100%;
		padding: 2rem;

		@media (#{$bp-larger-than-desktop}) {
			width: 40%;
		}

		.stat {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			text-align: center;
		}

		h3 {
			text-transform: uppercase;
			font-size: 2.4rem;

			@media (#{$bp-larger-than-desktop}) {
				font-size: 3rem;
			}
		}

		span {
			color: black;
			font-size: 3.5rem;
			font-family: "Dugout Sans Bold";
			line-height: 1;

			@media (#{$bp-larger-than-desktop}) {
				font-size: 5rem;
			}
		}
	}
}

.single {

	#page {
		margin-top: 250px;
	}
}

#videosinfo {
	background-size: cover;
	background-position: center;
	padding: 13rem 0;
	background-image: url(assets/img/origional.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
	color: white;

	@media (#{$bp-larger-than-desktop}) {
		padding: 26rem 0;
	}

	&:before {
		border-top-color: black;
	}

	&:after {
		border-bottom-color: black;
	}

	.ovrly {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.5);
	}

	video{
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 50%;
		left: 50%;
		width: auto;
		height: auto;
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
		-moz-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
		transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
		z-index: 0;
		display: none;

		@media (#{$bp-larger-than-desktop}) {
			display: block;
		}
	}
}

#videos_bottom, #videos_top, #video_content {
	// padding: 75px 0;
	background-color: black;
	color: white;

	&:before, &:after {
		display: none;
	}

	.columns {
		text-align: center;
	}

	.video-container {
		padding-top: 0;
	}

	.slick-prev, .slick-next {
		position: absolute;
		top: 25px;
		right: 0px;
		left: auto;
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		margin: 0;
		z-index: 9;

		&:before {
			opacity: 0;
			visibility: 0;
		}
	}
	.slick-next {
		background-image: url(assets/img/right-white.svg);
	}

	.slick-prev {
		background-image: url(assets/img/left-white.svg);
		right: 45px;
	}

	.cap {
		float: right;
		background: $secondary-color;
		color: black;
		padding: 15px;
		width: 100%;
		position: relative;
		box-sizing: border-box;

		@media (#{$bp-larger-than-desktop}) {
			width: 75%;
		}

		&:before {
			// content: "";
			// width: 0;
			// height: 0;
			// background: transparent;
			// position: absolute;
			// top: 44px;
			// left: 0;
			// border-bottom: 50px solid $secondary-color;
			// border-right: 50px solid transparent;
		}
	}
	.fp-controlArrow.fp-prev {
		left: -50px;
	}

	.fp-controlArrow.fp-next {
		right: -50px;
	}

	a {
		background-color: $secondary-color;
		color: black;
		font-family: "Dugout Sans Bold";
		font-size: 2rem;
		text-align: center;
		padding: 10px;
		display: block;
		text-transform: uppercase;;
		text-decoration: none;
		margin-top: 50px;
	}
}

#video_content { 

}

// #brand_logos {
// 	// padding: 0 0 75px 0;
// 	background-color: black;
// 	color: white;
// }

#agency, #agency_logos, #brand, #brand_logos, #partnerships, #partners_logos, #platform, #platform_logos {

	ul {
		list-style: none;
		margin: 0;
		width: 100%;
		padding: 20px 0;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
		text-align: center;

		li {
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			width: 25%;
			padding: 5px;
			margin-bottom: 10px;
			box-sizing: border-box;

			@media (#{$bp-larger-than-tablet}) {
				margin: 0;
				width: 19.73439%;
			}

			img {
				display: block;
				width: auto;
				//height: 75px;
				max-height: 70px;
				margin: 0 auto;
			}
		}
	}
}

#brand {
	// padding: 75px 0;
	background-color: black;
	color: white;

	&:after, &:before {
		display: none;
	}
}

#agency {
	padding: 13rem 0;
	background-color: white;
	color: black;

	@media (#{$bp-larger-than-desktop}) {
		padding: 26rem 0;
	}

	&:after {
		border-bottom-color: $secondary-color;
	}

	ul {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
}

#platform {
	padding: 13rem 0;
	background-color: black;
	color: white;

	@media (#{$bp-larger-than-desktop}) {
		padding: 26rem 0;
	}

	&:before {
		border-top-color: $secondary-color;
	}
}

#partnerships {
	// padding: 75px 0;
	background-color: $secondary-color;
	color: black;

	&:after, &:before {
		display: none;
	}

	ul {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

}

#big_image {
	// padding-bottom: 75px;

	a {
		background-color: $secondary-color;
		color: black;
		font-family: "Dugout Sans Bold";
		font-size: 2rem;
		text-align: center;
		padding: 10px;
		display: block;
		text-transform: uppercase;;
		text-decoration: none;
		margin-top: 50px;
	}
}

#press, #testimonials {
	background-color: $secondary-color;
	padding-top: 26rem;
	color: black;

	.columns {
		margin-bottom: 30px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.story {

		a {
			display: block;
			margin: 0;
			background: transparent;
			padding: 0;

			img {
				display: block;
				width: 100%;
				margin-bottom: 20px;
			}

			h3 {
				color: black;
				line-height: 1.1;
				font-size: 3rem;
				text-align: left;
				text-transform: uppercase;
			}

			p {
				font-size: 1.8rem;
				color: black;
				text-align: left;
			}

			button {
				width: 100%;
				background: white;
				margin-top: 20px;
				font-size: 2rem;
				color: black;
				line-height: inherit;
				height: auto;
				margin-bottom: 0;
				border-radius: 0;
				padding: 5px;
			}
		}
	}

	a {
		background-color: $secondary-color;
		color: black;
		font-family: "Dugout Sans Bold";
		font-size: 2rem;
		text-align: center;
		padding: 10px;
		display: block;
		text-transform: uppercase;;
		text-decoration: none;
		margin-top: 50px;
	}
	
}

#press {
	padding: 13rem 0;
	
	&:before {
		border-top-color: white;
	}

	&:after {
		border-bottom-color: white;
	}

	@media (#{$bp-larger-than-desktop}) {
		padding: 26rem 0;
	}
}

#testimonials {
	background-color: white;
	color: black;
	padding-bottom: 0;

	&:before, &:after {
		display: none;
	}

	.quotes {
		background: $secondary-color;
		padding: 4rem;
		color: black;
		border-radius: 4px;

		p {
			strong {
				font-family: "Dugout Sans Bold";
				margin-top: 10px;
				display: block;
				font-size: 1.6rem;
				text-align: right;
			}
		}
	}

	.wp-video {
		margin-top: 2rem;
	}

	h1 {
		margin-bottom: 6rem;
	}

	h3 {
		text-transform: uppercase;
	}

	.top {
		padding-bottom: 60px;

		.columns {
			margin-bottom: 30px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		@media (#{$bp-larger-than-tablet}) {
			padding-bottom: 130px;

			.columns {
				margin-bottom: 0;
			}
		}
	}

	.bottom {
		// background: black;
		padding: 0 0 130px 0;
		// color: white;

		.columns {
			margin-bottom: 30px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		@media (#{$bp-larger-than-tablet}) {
			// padding: 130px 0;

			.columns {
				margin-bottom: 0;
			}
		}
	}

	.slick-prev, .slick-next {
		position: absolute;
		top: -90px;
		right: 40px;
		left: auto;
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		&:before {
			opacity: 0;
			visibility: 0;
		}
	}
	.slick-next {
		background-image: url(assets/img/right.svg);
	}

	.slick-prev {
		background-image: url(assets/img/left.svg);
		right: 85px;
	}
}

#team {
	// padding: 75px 0;

	&:before {
		display: none;
	}

	&:after {
		display: none;
	}

	h1 {
		margin-bottom: 0;
	}

	.teaminfo {
		visibility: hidden;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: white;
		opacity: 0;
		z-index: 1;
		text-align: left;
		transition: all 0.3s linear;

		&.visible {
			visibility: visible;
		}
		&.show {
			opacity: 1;
		}
	}

	.exit {
		width: 40px;
		height: 40px;
		position: absolute;
		z-index: 2;
		right: 10px;
		top: 10px;
		cursor: pointer;

		&:before, &:after {
			background-color: black;
			content: "";
			position: absolute;
			width: 2px;
			height: 40px;
			left: 20px;
			-webkit-transform: rotate(45deg);
			   -moz-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			     -o-transform: rotate(45deg);
			        transform: rotate(45deg);
		} 

		&:after {
			-webkit-transform: rotate(-45deg);
			   -moz-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			     -o-transform: rotate(-45deg);
			        transform: rotate(-45deg);

		} 
	}

	// .og-grid {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: center;
		width: 100%;
	
		li {
			display: inline-block;
			padding: 0 10px;
			vertical-align: top;
			width: 20%;
			margin-bottom: 15px;
			box-sizing: border-box;

			@media (#{$bp-smaller-than-tablet}) {
				width: 46%;
			}

			.picture {
				width: 100%;
				display: inline-block;
				vertical-align: top;
				margin-bottom: 2rem;

				@media (#{$bp-larger-than-tablet}) {
					width: 30%;
					margin-bottom: 0;
				}
			}

			.content {
				width: 100%;
				display: inline-block;
				vertical-align: top;
				box-sizing: border-box;

				@media (#{$bp-larger-than-tablet}) {
					width: 70%;
					padding-left: 4rem;
				}

				a {
					display: inline-block;
					margin-top: 25px;
					background: $secondary-color;
					padding: 1rem 2rem;
					text-decoration: none;
					font-family: 'Dugout Sans Bold';
				}
			}

			h3 {
				font-size: 2rem;
				padding: 0;
				margin: 0;
				line-height: 1;
				margin-bottom: 5px;
				text-transform: uppercase;
				letter-spacing: 0.1rem;
			}

			h4 {
				font-size: 1.6rem;
				padding: 0;
				margin-bottom: 20px;
				line-height: 1;
				text-transform: uppercase;
				color: black;
				letter-spacing: 0.1rem;
			}

			> a,
			> a img {
				border: none;
				outline: none;
				display: block;
				position: relative;
				border-radius: 50%;
				text-decoration: none;
			}

			> a img {
				margin-bottom: 15px;
				filter: grayscale(1);
			}

			// &.og-expanded > a::after {
			// 	top: auto;
			// 	border: solid transparent;
			// 	content: " ";
			// 	height: 0;
			// 	width: 0;
			// 	position: absolute;
			// 	pointer-events: none;
			// 	border-bottom-color: #ddd;
			// 	border-width: 15px;
			// 	left: 50%;
			// 	margin: -20px 0 0 -15px;
			// }
		}

		// .og-expander {
		// 	position: absolute;
		// 	background: #ddd;
		// 	top: auto;
		// 	left: 0;
		// 	width: 100%;
		// 	width: calc(100% - 10px);
		// 	box-sizing: border-box;
		// 	margin-top: 10px;
		// 	margin-left: 10px;
		// 	margin-right: 10px;
		// 	text-align: left;
		// 	height: 0;
		// 	overflow: hidden;
		// }

		// .og-expander-inner {
		// 	padding: 50px 30px;
		// 	height: 100%;
		// }

		// .og-close {
		// 	position: absolute;
		// 	width: 40px;
		// 	height: 40px;
		// 	top: 20px;
		// 	right: 20px;
		// 	cursor: pointer;
		// }

		// .og-close::before,
		// .og-close::after {
		// 	content: '';
		// 	position: absolute;
		// 	width: 100%;
		// 	top: 50%;
		// 	height: 1px;
		// 	background: #888;
		// 	transform: rotate(45deg);
		// }

		// .og-close::after {
		// 	transform: rotate(-45deg);
		// }

		// .og-close:hover::before,
		// .og-close:hover::after {
		// 	background: #333;
		// }

		// .og-fullimg,
		// .og-details {
		// 	width: 75%;
		// 	float: left;
		// 	height: 100%;
		// 	overflow: hidden;
		// 	position: relative;
		// 	box-sizing: border-box;

		// 	@media (#{$bp-smaller-than-tablet}) {
		// 		width: 100%;
		// 	}
		// }

		// .og-details {
		// 	padding: 0 40px 0 20px;
		// 	// width: 100%;

		// 	@media (#{$bp-smaller-than-tablet}) {
		// 		height: 400px;
		// 		overflow: scroll;
		// 	}
		// }

		// .og-fullimg {
		// 	// text-align: center;
		// 	width: 25%;

		// 	@media (#{$bp-smaller-than-tablet}) {
		// 		width: 100%;
		// 		margin-bottom: 20px;
		// 		height: auto !important;
		// 		padding: 20px;
		// 	}
		// }

		// .og-fullimg img {
		// 	display: none;
		// 	// display: inline-block;
		// 	max-height: 100%;
		// 	max-width: 100%;
		// }

		// .og-fullimg h3 {
		// 	font-size: 4rem;
		// 	padding: 0;
		// 	margin: 0;
		// 	line-height: 1;
		// 	text-transform: uppercase;
		// 	letter-spacing: 0.1rem;
		// }

		// .og-fullimg h4 {
		// 	font-size: 2.5rem;
		// 	padding: 0;
		// 	margin-bottom: 20px;
		// 	line-height: 1;
		// 	text-transform: uppercase;
		// 	letter-spacing: 0.1rem;
		// 	color: black;
		// }

		// .og-details p {
		// 	font-size: 1.8rem;
		// 	white-space: pre-wrap;
		// }

		// .og-fullimg a {
		// 	font-size: 16px;
		// 	text-transform: uppercase;
		// 	padding: 10px 20px;
		// 	display: inline-block;
		// 	margin: 30px 0 0;
		// 	outline: none;
		// 	background-color: $secondary-color;
		// 	color: black;

		// 	@media (#{$bp-smaller-than-tablet}) {
		// 		display: none;
		// 	}
		// }

		// .og-details a::before {
		// 	content: '\2192';
		// 	display: inline-block;
		// 	margin-right: 10px;
		// }

		// .og-details a:hover {
		// 	border-color: #999;
		// 	color: #999;
		// }

		// .og-loading {
		// 	width: 20px;
		// 	height: 20px;
		// 	border-radius: 50%;
		// 	background: #ddd;
		// 	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	margin: -25px 0 0 -25px;
		// 	animation: loader 0.5s infinite ease-in-out both;
		// }

		// @keyframes loader {
		// 	0% { background: #ddd; }
		// 	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
		// 	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
		// }

		// @media screen and (max-width: 830px) {

		// 	.og-expander h3 { font-size: 32px; }
		// 	.og-expander p { font-size: 13px; }
		// 	.og-expander a { font-size: 12px; }

		// }

		// @media screen and (max-width: 650px) {

		// 	// .og-fullimg { display: none; }
		// 	// .og-details { float: none; width: 100%; }
			
		// }
	}

	.team {
		text-align: center;

		@media (#{$bp-smaller-than-tablet}) {
			width: 50%;
			padding: 10px;
			box-sizing: border-box;
			margin-bottom: 10px;
		}

		img {
			display: block;
			border-radius: 50%;
			margin-bottom: 15px;
		}

		h3 {
			margin-bottom: 0;
			line-height: 1;
			font-family: 3rem;
		}
		h4 {
			margin-bottom: 0;
			line-height: 1;
			font-family: 2rem;
			color: $secondary-color;
		}
	}
}

#reach {
	padding: 13rem 0;
	background-position: center;
	background-size: cover;
	background-image: url(assets/img/space.jpg);

	@media (#{$bp-larger-than-desktop}) {
		// padding: 26rem 0;
		padding: 36rem 0;
	}

	position: relative;
	overflow: hidden;
	color: white;

	&:after {
		border-bottom-color: black;
	}

	.ovrly {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.5);
	}

	video{
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 20%;
		left: 50%;
		width: auto;
		height: auto;
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
		-moz-transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
		transform: translateX(-50%) translateY(-50%) translateZ(-1px) scale(2);
		z-index: 0;
		display: none;

		@media (#{$bp-larger-than-desktop}) {
			display: block;
		}
	}
}

#findus {
	// padding: 75px 0 0 0;
	background: black;

	@media (#{$bp-smaller-than-tablet}) {
		text-align: center;
	}

	.apps {
		text-align: right;

		@media (#{$bp-smaller-than-tablet}) {
			text-align: center;
			margin-top: 20px;

			img {
				height: 50px;
				margin: 0 10px 10px;
			}
		}
	}

	img {
		height: 70px;
		display: inline-block;
		width: auto;
		margin-left: 40px;
	}

	a {
    	&:first-of-type {
			img {
				margin-left: 0;
			}
		}
	}
}

#contact {
	// padding: 75px 0;
	background: black;
	color: white;

	&:after, &:before {
		display: none;
	}

	h1 {
		margin-bottom: 0;
	}

	.apps {
		text-align: right;

		@media (#{$bp-smaller-than-tablet}) {
			text-align: center;
			margin-top: 20px;

			img {
				height: 50px;
				margin: 0 10px 10px;
			}
		}
	}

	a {
    	&:first-of-type {
			img {
				margin-left: 0;
			}
		}
	}

	img {
		height: 70px;
		display: inline-block;
		width: auto;
		margin-left: 40px;
	}

	.wpcf7 {
		background-color: $secondary-color;
		padding: 20px;
		border-radius: 4px;

		@media (#{$bp-smaller-than-tablet}) {
			margin-bottom: 30px;
		}

		div.wpcf7-mail-sent-ok {
			border: 2px solid black;
			color: black;
			text-align: center;
		}

		form {
			margin: 0;
		}

		input[type='email'], input[type='number'], input[type='search'], input[type='text'], input[type='tel'], input[type='url'], input[type='password'], textarea, select {
			margin-bottom: 0;
			padding: 10px;
			color: black;
			font-size: 2rem;
			border: 0;
			border-radius: 0;
			width: 100%;
		}

		textarea {
			height: 100px;
		}
		
		input[type="submit"], input[type="reset"], input[type="button"] {
			color: black;
			background-color: white;
			border: 0;
			padding: 15px 20px;
			border-radius: 0;
			height: auto;
			font-size: 2rem;
			line-height: 1;
			margin-bottom: 0;
		}
	}

	.social {
		list-style: none;
		margin-bottom: 30px;

		li {
			display: inline-block;
			margin-right: 15px;

			svg {
				font-size: 4rem;

				path {
					fill: $secondary-color;
				}
			}
		}
	}
}

#wrapper {
	background-color: $light-grey;
	// padding-top: 200px;
}

#news_story {
	background: #eeeeee;
	// padding-top: 160px;
	// padding-bottom: 100px;

	.post-thumbnail {
		margin-bottom: 30px;
	}

	.post-navigation {

		h2 {
			display: none;
		}
	}
}

#secondary {
	background: white;
	// padding: 30px;

	.widget {
		min-height: 0;
		margin-bottom: 30px;

		&:last-of-type {
			margin-bottom: 0;
		}

		h2.widget-title {
			font-size: 3rem;
			margin-bottom: 10px;
		}
		
		ul {
			list-style: none;
			margin-bottom: 0;

			li {

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}

#theme-my-login {
	margin: 0 auto;

	.message {
		font-size: 1.8rem;
		text-align: center;
		margin-bottom: 15px;
	}

	label {
		font-size: 2rem;
	}

	p {
		margin-bottom: 10px;
	}

	input#wp-submit {
		background: black;
		font-family: 'Dugout Sans Bold';
	}


}

footer {
	padding: 75px 0;
	background-color: black;
	color: white;

	ul {
		margin: 0;
		text-align: center;

		@media (#{$bp-larger-than-tablet}) {
			text-align: right;
		}

		li {
			display: inline-block;
			margin-left: 15px;
		}
	}
}

.tml-action {

	section {

		&:before, &:after {
			display: none;
		}
	}
}